node_modules
.DS_Store
.history
/coverage

/packages/**/lib
*-css.ts
*.stories.js
*.test.js
*.d.ts
!global.d.ts
*.js.map
custom-elements.json

lerna-debug.log
yarn-error.log

dist
_site

package-lock.json
