:host {
  --border-color: #d9d9d9;
  --highlight-color: #1890ff;
  display: inline-block;
}
:host([disabled]) {
  opacity: .6;
}
.radio-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  .radio {
    position: relative;
    margin-right: 5px;
    &:hover {
      .radio-inner {
        border-color: var(--highlight-color);
      }
    }
    .radio-input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      margin: 0;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }
    .radio-inner {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 14px;
      height: 14px;
      background: #fff;
      border: 1px solid var(--border-color);
      border-radius: 50%;
      transition: all .3s;
      &::after {
        content: " ";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        background-color: var(--highlight-color);
        border-radius: 8px;        
        opacity: 0;
        transition: all .3s cubic-bezier(.78,.14,.15,.86);
        transform: scale(0);
      }
    }
    .radio-input:checked {
      & + .radio-inner {
        border-color: var(--highlight-color);
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}