:host {
  --border-color: #f0f0f0;
  --border-raduis: 6px;
  display: block;
}
.belle-card-wrapper {
  border: 1px solid var(--border-color);
  border-radius: var(--border-raduis);
  overflow: hidden;
}
.card-head {
  padding: 0 24px;
  color: rgba($color: #000000, $alpha: .85);
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
}
.card-title {
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-body {
  padding: 24px;
}
