%arrow-styles {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentColor;
  border-radius: 2px;
  transition: background .3s cubic-bezier(.645,.045,.355,1),transform .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),color .3s cubic-bezier(.645,.045,.355,1);
  content: "";
}

@mixin transform($property1, $property2) {
  transform: rotate($property1) translateX($property2)
}

:host {
  --font-color: rgba($color: #000000, $alpha: 0.8);
  --active-color: red;
  font-size: 14px;
}

:host([selected]) {
  --font-color: var(--active-color);
}


.belle-menu-item {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 16px 0 24px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: var(--font-color);
    transition: color .3s;
  }
  &:hover {
    a {
      color: var(--active-color);
    }
  }
}

.belle-submenu {
  box-sizing: border-box;
  padding: 0 16px 0 24px;
  cursor: pointer;
  &.belle-submenu-expand {
    > .content {
      height: auto;
    }
    .belle-menu-arrow {
      &::before {
        @include transform(45deg, 2.5px);
      }
      &::after {
        @include transform(-45deg, -2.5px);
      }
    }
  }
  &.selected {
    > .header {
      color: var(--active-color);
    }
  }
  > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    transition: color .3s;
    > span {
      cursor: pointer;
    }
    &:hover {
      color: var(--active-color);
    }
  }
  > .content {
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
  }
  
  // arrow
  .belle-menu-arrow {
    position: relative;
    right: 16px;
    width: 10px;
    color: rgba(0,0,0,.85);
    transform: translateY(-50%);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    &::before {
      @extend %arrow-styles;
      @include transform(-45deg, 2.5px);
    }
    &::after {
      @extend %arrow-styles;
      @include transform(45deg, -2.5px);
    }
  }
}
